<center><h1>School Details </h1>
<%= link_to 'Back' ,schools_index_url %>
<table cellpadding='5' cellspacing='5' align='center'>
  <tr bgcolor='lime'>
    <th>Board</th><th>Area</th><th>Logo</th><th>School Name</th><th>Address</th><th>Contact No</th>
  </tr>
<% @school.each do |obj|
  im=obj.image;
  %>
    <tr>	
      <td><%= obj.board %></td> <td><%= obj.area %></td><td><%= image_tag(im, :size => "50x50") %></td> <td><%= obj.name %></td> <td><%= obj.address %></td><td><%= obj.phno %></td> 
      <td><%= link_to 'Edit', :action => :edit_schools, :id => obj.id  %></td>  
       <td><%= link_to 'Delete', :action => :destroy, :id => obj.id  %></td>  
</tr>
<% end %>
</table>

