
<script type="text/javascript">
  function selectwise(value)
  {
      var board=document.getElementById("Board").value;
	alert(board);
      var area = document.getElementById("Area").value;
	alert(area);
      var school = document.getElementById("School").value;	
	alert(school);
  }
</script>
<div id="grnd">
<center>
<h1>Chennai Schools</h1>
</center>
</div>

<div align='center'>

  <%= form_tag(schools_path, method: :get) do %>
<%= select_tag :Board, options_for_select(@school.map {|t| [ t.board, t.board ]}.uniq), include_blank: "Search Board Wise", :onchange => "this.form.submit()" %>
<%= select_tag :Area, options_for_select(@school.map {|t| [ t.area, t.area ]}.uniq), include_blank: "Search Area Wise", :onchange => "this.form.submit()" %>
    <%= select_tag :School, options_for_select(@school.map {|t| [ t.name, t.name ]}.uniq), include_blank: "Search School Wise", :onchange => "this.form.submit()" %>

    <% end %>
</div>
<% if current_admin.present? -%>

<%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
<% else -%>
<%= link_to_if(@current_admin.nil?, "Login to add comment", new_admin_session_path) %>
<% end %>
<table cellpadding='10' cellspacing='20' align='center'>
  <tr bgcolor='lime'>
    <th>Board</th><th>Area</th><th>Logo</th><th>School Name</th><th>Address</th><th>Contact No</th>
  </tr>
  <% @school.each do |obj| 
im=obj.image;
%>
    <tr>
	
      <td><%= obj.board %></td> <td><%= obj.area %></td> <td><%= image_tag(im, :size => "100x100") %></td> <td><%= obj.name %></td> <td><%= obj.address %></td><td><%= obj.phno %></td>

</tr>

  <% end %>
</table>
