<script type="text/javascript">
        function noBack()
         {
             window.history.forward()
         }
        noBack();
        window.onload = noBack;
        window.onpageshow = function(evt) { if (evt.persisted) noBack() }
        window.onunload = function() { void (0) }
    </script>
<% if current_admin.present? -%>

<div id="grnd">
<center>
<h1>Chennai Schools</h1>
</center>
</div>

<div align='center'>

  <%= form_tag(schools_path, method: :get) do %>
<%= select_tag :Board, options_for_select(@school.map {|t| [ t.board, t.board ]}.uniq), include_blank: "Search Board Wise", :onchange => "this.form.submit()" %>
<%= select_tag :Area, options_for_select(@school.map {|t| [ t.area, t.area ]}.uniq), include_blank: "Search Area Wise", :onchange => "this.form.submit()" %>
    <%= select_tag :School, options_for_select(@school.map {|t| [ t.name, t.name ]}.uniq), include_blank: "Search School Wise", :onchange => "this.form.submit()" %>

    <% end %>
</div>


<%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>

<% end %>
<table cellpadding='10' cellspacing='20' align='center'>
  <tr bgcolor='lime'>
    <th>Board</th><th>Area</th><th>Logo</th><th>School Name</th><th>Address</th><th>Contact No</th>
  </tr>
  <% @school.each do |obj| 
im=obj.image;
%>
    <tr>
	
      <td><%= obj.board %></td> <td><%= obj.area %></td> <td><%= image_tag(im, :size => "100x100") %></td> <td><%= obj.name %></td> <td><%= obj.address %></td><td><%= obj.phno %></td>

</tr>

  <% end %>
</table>
