

<div id="grnd">
<center>
<h1>Chennai Schools</h1>
</center>
<% if current_admin.present? -%>
<%= render 'schools/form' %>
<%= link_to "Sign out ", destroy_admin_session_path, :method => :delete %> |
<% else -%>
<%= link_to_if(@current_admin.nil?, "Admin Login", new_admin_session_path) %>
<% end %>
</div>
<br><br>
<div align='center'>

<%= form_tag(root_path, method: :get) do %>

<%= select_tag :Board, options_for_select(@schools.map {|t| [ t.board, t.board ]}.uniq,params[:Board]), include_blank: "Search Board Wise" %>
<%= select_tag :Area, options_for_select(@schools.map {|t| [ t.area, t.area ]}.uniq,params[:Area]), include_blank: "Search Area Wise" %>
<%= text_field_tag :School, nil, :autocomplete => 'on', :placeholder => 'Enter the School Name ',:value => params[:School] %>

<%= submit_tag "Search", data: { disable_with: "Please wait.." } %>
<% end %>
</div>



<br><br>

<table cellpadding='5' cellspacing='5' align='center'>
  <tr bgcolor='lime'>
    <th>Board</th><th>Area</th><th>Logo</th><th>School Name</th><th>Address</th><th>Contact No</th><th>Other Branch Details</th>
  </tr>
  <% @school.each do |obj| 
im=obj.image;
%>
    <tr>
	
      <td><%= obj.board %></td> <td><%= obj.area %></td> <td><%= image_tag(im, :size => "50x50") %></td> <td><%= obj.name %></td> <td><%= obj.address %></td><td><%= obj.phno %></td>

<td><%= link_to 'Show', :action => :other_details, :id => obj.id  %>

</td> 
</tr>

  <% end %>
</table>



