<h1><center>School Details </centeR></h1>
<table cellpadding='10' cellspacing='20' align='center'>
  <tr bgcolor='lime'>
    <th>Board</th><th>Area</th><th>School Name</th><th>Address</th><th>Contact No</th>
  </tr>
  <% @school.each do |obj| 

%>
    <tr>
	
      <td><%= obj.board %></td> <td><%= obj.area %></td> <td><%= obj.name %></td> <td><%= obj.address %></td><td><%= obj.phno %></td>
    

</tr>

  <% end %>
</table>
